.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  gap: 10px;
}

#input {
  width: 300px;
  margin-right: 10px;
}
button {
  cursor: pointer;
}

.table {
  display: flex;
  justify-content: center;
  background-color: pink;
  border: 1px solid black;
  margin-top: 20px;
  width: 500px;
  border-radius: 5px;
}
th {
  padding: 10px;
}
